server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;

    location / {
        proxy_pass https://dg-web-ue1-01.s3.amazonaws.com$request_uri;
    }

    location /shared_assets {
        # Proxy request for shared assets from S3
        proxy_pass https://dg-web-ue1-01.s3.amazonaws.com/dg-portfolio-web/shared_assets;
    }
    
    
    location /template{
         # Custom document root for the template path
        root /var/www/html/dg-earnest-portfolio;

        # Attempt to serve file, directory, then fall back to 404
        try_files $uri $uri/ =404;

        # Specify index files specific to /template if needed
        index index.html index.htm;
    }
}